.wrapper {
    width: 100%;
    align-items: stretch;
}

.wrapper-sidebar {
    display: flex;
    width: 100%;
    align-items: stretch;
}

footer {
    color: #fff;
    background: #343a40;
}

footer a {
    color: #fff;
    text-decoration: underline;
}