.wrapper {
    width: 100%;
    align-items: stretch;
}

.wrapper-sidebar {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.table-fixed tbody {
    height: 300px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
    float: left;
    position: relative;
    &::after {
        content: '';
        clear: both;
        display: block;
    }
}


footer {
    color: #fff;
    background: #343a40;
}

footer a {
    color: #fff;
    text-decoration: underline;
}