<!DOCTYPE html>
<html>

<head>
  <title>B tools</title>
  {% load static %}
  <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "fontawesome-5.10.2/css/all.css" %}">
  <link rel="stylesheet" href="{% static "base.css" %}">
  <script type="text/javascript" src="{% static "jquery-3.4.1.min.js" %}"></script>
  <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.bundle.min.js" %}"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0 py-md-0">
      <a class="navbar-brand" href="/">B Tools</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <form class="my-1 ml-5 w-50">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input class="form-control search" type="text" id="search-bar" placeholder="<HELP> for explanation"
            autocomplete="off" spellcheck="false" autocorrect="off" />
        </div>
      </form>
      <ul class="navbar-nav ml-5">
        <li class="nav-item">
            <a class="nav-item nav-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-item nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Apps
            <i class="fas fa-chevron-down"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
            <a class="dropdown-item" href="{% url 'rss-index' %}">RSS</a>
            <a class="dropdown-item" href="{% url 'hash-index' %}">Hash</a>
          </div>
        </li>
      </ul>
    </nav> <!-- End Nav -->
  </header>

  <main class="mt-1">
    {% block content %}
    {% endblock %}
  </main>

  <!-- Footer -->
  <footer class="font-small my-0 p-2">
    <!-- Copyright -->
    <div class="footer-copyright text-center">
      <a href="https://buihanotes.com">© 2019 Copyright: Bui Ha, Ltd</a>
    </div>
    <!-- Copyright -->
  </footer> <!-- Footer -->

</body>

</html>