{% extends 'stock-base.html' %}

{% block subcontent %}
{% load widget_tweaks %}
{% load static %}
<link rel="stylesheet" href="{% static "stock.css" %}">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">

<div class="wrapper-sidebar">
  <div class="card m-2 w-50">
    <div class="card-header">
      {{ company.name }}
    </div>
    <div class="card-body">
      <p>Company industry: {{ company.industry }} </p>
      <p>Company stock quote: {{ company.quote }} </p>
    </div>
  </div>
  <div class="card m-2 w-50">
    <div class="card-header">Daily stock Price Graph</div>
    <div class="card-body">
      <canvas id="stockPrice" class="w-100"></canvas>
    </div>
  </div>
</div>

<script>

</script>

{% endblock %}
