.table-fixed tbody {
    height: 300px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
    float: left;
    position: relative;
    &::after {
        content: '';
        clear: both;
        display: block;
    }
}

#rss-app .table-fixed tbody tr {
    cursor: zoom-in;
}

#rss-app .table-fixed tbody tr.feed-unread {
    font-weight: bold;
}

#rss-app .table-fixed tbody tr.feed-chosen td {
    background: #f07834;
    color: #fff;
}


div.card div.card-header {
    background: #343a40;
    color: #fff;
    font-weight: bold;
}

div.card div.card-body div.card-text {
    height: 400px;
    overflow-y: auto;
    min-height: 400px;
}