{% extends 'base.html' %}

{% block content %}
{% load widget_tweaks %}
{% load static %}
<link rel="stylesheet" href="{% static "sidebar.css" %}">
<link rel="stylesheet" href="{% static "rss/rss.css" %}">
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

<div class="wrapper-sidebar" id="rss-app">

  <nav class="sidebar" :class="{'active': hideSidebar}">
    <span><i class="fas fa-bars mt-3"></i> ALL</span>
    <ul class="list-unstyled components">
      <li v-for="category in categories">
        <a :href="'#'+category.name" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">[[ category.name ]]</a>
        <ul class="collapse list-unstyled show" :id="category.name">
          <li v-for="source in category.sources">
            <a href="#" v-on:click="updateSource(source.name)">
              [[ source.name ]] <span class="badge badge-light float-right mr-2">[[ source.unread_count ]]</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <div class="content w-100">
    {% if messages %}
      {% for message in messages %}
      <div {% if message.tags == 'error' %} class="alert alert-danger"{% else %} class="alert alert-success" {% endif %} role="alert">
        {{ message }}
      </div>
      {% endfor %}
    {% endif %}

    <ul class="nav mx-3">
      <button type="button" class="btn btn-info btn-sm" v-on:click="hideSidebar = !hideSidebar">
        <i class="fas fa-align-left"></i><span>Toggle</span>
      </button>
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#add-category-modal" data-dismiss="modal" href="#">Add Category</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#add-source-modal" data-dismiss="modal" href="#">Add Source</a>
      </li>
    </ul>

    <div class="container mt-1">
      <h5>[[ source_name ]]</h5>
      <div class="border rounded-lg mt-1">
        <table class="table table-borderless table-sm table-fixed">
          <thead class="thead-dark">
            <tr>
              <th scope="col" class="col-10 px-2">Headline</th>
              <th scope="col" class="col-2">Datetime</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(feed, idx) in feeds" v-on:click="displayFeed(idx)"
                :class="{'feed-unread': !feed.checked, 'feed-chosen': current_feed_idx === idx}">
              <td class="col-10"><i class="far fa-sticky-note" v-if="!feed.checked"></i> [[ feed.title ]]</td>
              <td class="col-2">[[ feed.created_at ]]</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="border rounded-lg mt-1">
        <div v-if="content">
          <div class="card">
            <div class="card-header p-2">[[ content.title ]]</div>
            <a :href="content.link" target="_blank" class="card-link p-2">[[ content.link ]]</a>
            <div class="card-body">
              <p class="card-text" v-html="content.content"></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- End content -->
</div> <!-- End wrapper -->

<script>
    var app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#rss-app',
      data: {
        hideSidebar: false,
        content: undefined,
        source_name: '',
        categories: {},
        feeds: [],
        // UI
        current_feed_idx: undefined,
        $timer: undefined
      },

      created: function() {
        let UPDATE_INTERVAL = 1000 * 60 * 5; // Update the feed every 5 minutes
        let that = this;

        $.ajax({url: '/rss/loadcategories'}).done(function(data) {
          that.categories = data.categories;
          var unempty_category = that.categories.find(element => {
            return element.sources.length > 0;
          });
          that.source_name = unempty_category.sources[0].name;
          that.updateFeed();
        });

        this.$timer = setInterval(this.updateFeed, UPDATE_INTERVAL);
      },

      beforeDestroy: function() {
        clearInterval(this.$timer);
      },

      methods: {
        updateFeed: function() {
          var that = this;
          $.ajax({
            url: '/rss/loadfeeds/' + that.source_name,
            method: 'GET',
          }).done(function(data) {
            if (data.status_code == 200) {
              that.content = data.feeds[0];
              that.feeds = data.feeds;
            }
          });
        },

        updateSource: function(name) {
          this.source_name = name;
          this.updateFeed();
        },

        displayFeed: function(idx) {
          this.content = this.feeds[idx];
          this.content.checked = true;
          this.current_feed_idx = idx;
          this.source_name.unread_count --;

          $.ajax({
            url: '/rss/updatefeed',
            headers: {'X-CSRFToken': Cookies.get('csrftoken')},
            method: 'POST',
            data: {
              'feed_id': this.content.id,
              'checked': true
            }
          }).fail(function() {
            console.log("Log failure here");
          });
        },
      }
    });
  </script>



<div class="modal fade" id="add-category-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Category</h3>
      </div>
      <div class="modal-body">
        <form action="{% url 'rss-category-add' %}" method="POST">
          {% csrf_token %}
          {% for field in category_form.visible_fields %}
          <div class="form-group">
            {{ field.label_tag }}
            {% if category_form.is_bound %}
              {% if field.errors %}
                {% render_field field class="form-control is-invalid" %}
                {% for error in field.errors %}
                  <div class="invalid-feedback">
                  {{ error }}
                  </div>
                {% endfor %}
              {% else %}
                {% render_field field class="form-control is-valid" placeholder=field.name %}
              {% endif %}
            {% else %}
              {% render_field field class="form-control" placeholder=field.name %}
            {% endif %}

            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
          </div>
          {% endfor %}
          <button type="submit" class="btn btn-primary">Add Category</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add-source-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Source</h3>
      </div>
      <div class="modal-body">
        <form action="{% url 'rss-source-add' %}" method="POST">
          {% csrf_token %}
          {% for field in source_form.visible_fields %}
          <div class="form-group">
            {{ field.label_tag }}
            {% if source_form.is_bound %}
              {% if field.errors %}
                {% render_field field class="form-control is-invalid" %}
                {% for error in field.errors %}
                  <div class="invalid-feedback">
                  {{ error }}
                  </div>
                {% endfor %}
              {% else %}
                {% render_field field class="form-control is-valid" placeholder=field.name %}
              {% endif %}
            {% else %}
              {% render_field field class="form-control" placeholder=field.name %}
            {% endif %}

            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
          </div>
          {% endfor %}
          <button type="submit" class="btn btn-primary">Add Source</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}